<div class="container">
    <div class="row mbr-white">
        <div class="col-12 col-md-6 col-lg-3">
            <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                <strong>Contact</strong>
            </h5>
            <ul class="list mbr-fonts-style display-4">
                <li class="mbr-text item-wrap">mail@whalesalert.com</li>
                <li class="mbr-text item-wrap">+44 7448 768864
                </li>
                <li class="mbr-text item-wrap"> 41 Eaton Square, London SW1W 9DH, United Kingdom.</li>
            </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                <strong>Legal</strong>
            </h5>
            <ul class="list mbr-fonts-style display-4">

                <a href="/privacy-policy" class="mbr-text item-wrap"> <span style="color: #2947ca;">&gt;</span> Privacy policy</a><br>
                <a href="/term-and-condition" class="mbr-text item-wrap"> <span style="color: #2947ca;">&gt;</span>  Terms and condition</a><br>
                <a href="refund-policy" class="mbr-text item-wrap"><span style="color: #2947ca;">&gt;</span>  Refund policy</a><br>
            </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                <strong>Quick LInks</strong>
            </h5>
            <ul class="list mbr-fonts-style display-4">
                <a href="/" class="mbr-text item-wrap"><span style="color: #2947ca;">&gt;</span>  Home </a> <br>
                <a href="/contact" class="mbr-text item-wrap"><span style="color: #2947ca;">&gt;</span>  Contact</a><br>
                <a href="/serivice" class="mbr-text item-wrap"><span style="color: #2947ca;">&gt;</span>  Services</a><br>
                <a href="/about" class="mbr-text item-wrap"><span style="color: #2947ca;">&gt;</span> About</a><br>
               
            </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                <strong>About</strong>
            </h5>
            <p class="mbr-text mbr-fonts-style mb-4 display-4">
                We are a group of traders focused on cryptocurrency market analysis and studies, and our service is to provide access to our market studies and trades.
</p>
            <h5 class="mbr-section-subtitle mbr-fonts-style mb-3 display-7">
                <!-- <strong>Social</strong> -->
            </h5>
            <!-- <div class="social-row display-7">
                <div class="soc-item">
                    <a href="/" target="_blank">
                        <span class="mbr-iconfont socicon socicon-facebook"></span>
                    </a>
                </div>
                <div class="soc-item">
                    <a href="/" target="_blank">
                        <span class="mbr-iconfont socicon socicon-twitter"></span>
                    </a>
                </div>
                <div class="soc-item">
                    <a href="/" target="_blank">
                        <span class="mbr-iconfont socicon socicon-instagram"></span>
                    </a>
                </div>
                <div class="soc-item">
                    <a href="/" target="_blank">
                        <span class="mbr-iconfont socicon socicon-telegram"></span>
                    </a>
                </div>
                
            </div> -->
        </div>
        
    </div>
</div>