<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta property="og:description" content="Discover how we help individuals, families, institutions and governments raise, manage and distribute the capital they need to achieve their goals."/>
    <meta name="keywords" content="fortified, benefit, get started, investing, investment, finance, goals, achieve, financial market, trading, fortune"/>
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">
    <title> Whale alert ||  Crypto signals  </title>
  </head>
  <body>
    <div><%- body %></div>

  </body>
</html>
