
<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.3.4, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.3.4, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Home</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
  <section class="menu menu2 cid-stAxaKDqvg" once="menu" id="menu2-0">
    
    <% include ./partials/nav %>
</section>


<section class="header6 cid-stNG4FjljX" id="header6-10" style="background-image: url('./assets/images/plans.jpg')">

    

    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(0, 0, 0);"></div>

    <div class="align-center container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <strong><h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1">  <span>SAVE MONEY</span> <br><strong style="color: #007581;">SAVE TIME</strong></strong></h1>
               
            </div>
        </div>
    </div>
</section>
<section class="features1 cid-stM33JDkCw" id="features1-y" style="background-color: rgb(223, 223, 240);">
    

    
    <div class="container">
        
        <div class="row">
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-like mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>Your're with the best 
                            </strong></h5>
                        <p class="card-text mbr-fonts-style display-7">Informed, connected, experienced. We’ve got our finger on the pulse and we know the market.</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-target mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>Draw on our expertise 
                            </strong></h5>
                        <p class="card-text mbr-fonts-style display-7">Fern Analytica deal with all aspects of surveying, valuing and the management of commercial and residential properties. </p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-paper-plane theme-2 mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>We're only a chat away
                        </strong></h5>
                        <p class="card-text mbr-fonts-style display-7">Our team can help explain how our investment services work so you can choose the best one for you.</p>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>
<section class="features4 cid-stAxgSgmaI" id="features4-4">
    
   
    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Invest Today!</strong></h4>
            
        </div>
        <div class="row mt-4">
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/invest.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">WEALTH PLANNING</h6>
                        <h5 class="item-title mbr-fonts-style display-5"><strong>Put the future in focus.</strong></h5>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">No matter what the future brings, we can offer you foresight in a world in flux. We’ll work with you to keep your financial goals on track, and your future within sight.</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn item-btn btn-black display-7" target="_blank">Start Now
                            &gt;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/wealth.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">
                            INVESTMENTS
                        </h6>
                        <h5 class="item-title mbr-fonts-style display-5"><strong>Achieve your financial goals</strong></h5>
                       
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">We offer a diverse range of products, services and tailored solutions that suit your approach to investment and help you achieve your financial goals.</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn item-btn btn-black display-7" target="_blank">Start Now
                            &gt;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/lend.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">BORROWING
                        </h6>
                        <h5 class="item-title mbr-fonts-style display-5"><strong>Financing that fits your personal needs</strong></h5>
                      
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Find the right lending solution for you – whether you need a straightforward loan facility or have more complex requirements, with help from your Lending Specialist.

                            <br></p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn item-btn btn-black display-7" target="_blank">Start Now
                            &gt;</a></div>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="footer1 cid-stAxw18Xy1" once="footers" id="footer1-g">

    <% include ./partials/footer %>
</section><section style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: none;"><a href="https://mobirise.site/f" style="flex: 1 1; height: 3rem; padding-left: 1rem;"></a><p style="flex: 0 0 auto; margin:0; padding-right:1rem;"><a href="https://mobirise.site" style="color:#aaa;">https://mobirise.com</a> html maker</p></section><script src="assets/web/assets/jquery/jquery.min.js"></script>  <script src="assets/popper/popper.min.js"></script>  <script src="assets/tether/tether.min.js"></script>  <script src="assets/bootstrap/js/bootstrap.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/dropdown/js/nav-dropdown.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>  <script src="assets/theme/js/script.js"></script>  <script src="assets/formoid/formoid.min.js"></script>  
<% include ./partials/chat %>
  
</body>
</html>