<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.3.0, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.3.0, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/minter-logo-circle.svg" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>investing</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
  <section class="menu menu2 cid-t6Xyl9nA50" once="menu" id="menu2-s">
    <% include ./partials/nav %>
</section>

    <section class="header13 cid-ssbPrGQSlR" id="header13-p" style="background-image: url('../../../assets/images/we.jpg')">

    

        <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(255, 255, 255);"></div>
    
        <div class="align-center container" style="color: white;">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong> Refund policy</strong></h1>
                    
                    <p class="mbr-text mbr-fonts-style mb-3 display-7">
                        disclaimer
                    </p>
                    
                    
                </div>
            </div>
        </div>
    </section>
<section class="content14 cid-sbitOvyTCz" id="content14-1w">
    
    
    
    <div class="container" style="font-family: 'Montserrat', sans-serif;">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                    <!-- <h3 class="mbr-section-title mbr-fonts-style mb-4 display-5">
                        <strong>Refund policy</strong>
                    </h3>
                    <h6 class="mbr-section-title mbr-fonts-style mb-4 display-6">
                        <strong>disclaimer</strong>
                    </h6> -->

                    <br><br>
                <ul class="list mbr-fonts-style display-7" style="font-family: 'Montserrat', sans-serif;">
                    <li><strong>Portfolio Activate  is not available to the general public and is opened only to the qualified members , the use of this site is restricted to our members and to individuals personally invited by them. Every deposit is considered to be a private transaction between us and its Member.
                    </strong><br></li><br>
                    <li><strong>You agree to hold all principals and members harmless of any liability. You are investing at your own risk and you agree that a past performance is not an explicit guarantee for the same future performance. You agree that all information, communications and materials you will find on this site are intended to be regarded as an informational and educational matter and not an investment advice.</strong><br></li><br>
                    <li><strong>Don't post bad vote on Public Forums and at Gold Rating Site without contacting the administrator of our program FIRST. Maybe there was a technical problem with your transaction, so please always clear all complaint with the administrator.</strong><br>
                       </li><br>
                       <li><strong>Finally we do not control or own the market there would case where we at Portfolio Activate may not take proper analysis or make few bad invest which will lead loss at Portfolio Activate. <br><br>
                        if we experience this kind of situation we at Portfolio Activate will take onw this losses and make refunds from our Gold reserves, so there will be no room for our investors to loss money.
                    </strong><br></li><br>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="footer1 cid-t6XysG5gUM" once="footers" id="footer1-6">

    
    <% include ./partials/footer %>
</section><section style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: none;"><a href="https://mobirise.site/k" style="flex: 1 1; height: 3rem; padding-left: 1rem;"></a><p style="flex: 0 0 auto; margin:0; padding-right:1rem;">This <a href="https://mobirise.site/e" style="color:#aaa;">website</a> was designed with Mobirise</p></section><script src="assets/web/assets/jquery/jquery.min.js"></script>  <script src="assets/popper/popper.min.js"></script>  <script src="assets/tether/tether.min.js"></script>  <script src="assets/bootstrap/js/bootstrap.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/dropdown/js/nav-dropdown.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
<% include ./partials/chat %>
</body>
</html>