<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.3.4, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.3.4, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Solutions</title>
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
  <section class="menu menu2 cid-stAxaKDqvg" once="menu" id="menu2-r">
    
    <% include ./partials/nav %>
</section>

<section class="header6 cid-stNG4FjljX" id="header6-10">

    

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);"></div>

    <div class="align-center container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>Investment Process </strong></h1>
                
                <p class="mbr-text mbr-white mbr-fonts-style display-7">
                    Our comprehensive process is overseen by the Investment Committee, consisting of experienced investment professionals, which meets on a regular basis. The group reviews and evaluates the insights of two sub-committees: the Asset Allocation Committee and Manager Research Committee.
                </p>
            </div>
        </div>
    </div>
</section>
<br><br>
<section class="image3 cid-ssbQngLAkO" id="image3-w">
    

    

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="image-wrapper">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        Asset allocation
                    </h3>
                    <p class="mbr-description mbr-fonts-style mt-1 align-left display-4">
                        The Asset Allocation Committee sets the long-term strategic asset class weightings for all portfolios, including active and passive allocations, working to identify cyclical secular trends to generate alpha through asset allocation.</p>
                    <img src="assets/images/allocation.jpg" alt="Mobirise">
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="image3 cid-ssbQngLAkO" id="image3-w">
    

    

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="image-wrapper">
                 <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                    Manager research 
                 </h3>
                      <p class="mbr-description mbr-fonts-style mt-1 align-left display-4">
                        The Manager Research Committee maintains and executes a comprehensive due diligence process to identify the right managers to meet the strategy objectives and add value.</p>
                    <img src="assets/images/Funnell.jpg" alt="Mobirise">
                    
                </div>
            </div>
        </div>
    </div>
</section>


<section class="image3 cid-ssbQngLAkO" id="image3-w">




    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="image-wrapper">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        Portfolio construction
                     </h3>
                    <p class="mbr-description mbr-fonts-style mt-1 align-left display-4">
                        Our investment professionals are integral to all portfolio decisions. Portfolio management teams consider the recommendations of both committees when making portfolio construction decisions.

                    </p>
                    <img src="assets/images/Portfolio_Construction.jpg" alt="Mobirise">
                    
                </div>
            </div>
        </div>
    </div>
</section>


<section class="footer1 cid-stAxw18Xy1" once="footers" id="footer1-s">

    
    <% include ./partials/footer %>
</section><section style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: none;"><a href="https://mobirise.site/l" style="flex: 1 1; height: 3rem; padding-left: 1rem;"></a><p style="flex: 0 0 auto; margin:0; padding-right:1rem;">Mobirise web page builder - <a href="https://mobirise.site/p" style="color:#aaa;">Check it</a></p></section><script src="assets/web/assets/jquery/jquery.min.js"></script>  <script src="assets/popper/popper.min.js"></script>  <script src="assets/tether/tether.min.js"></script>  <script src="assets/bootstrap/js/bootstrap.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/dropdown/js/nav-dropdown.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
<% include ./partials/chat %>
</body>
</html>